@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
    --brand-accent-1: 150 15% 35%; /* mörkgrön */
    --brand-accent-2: 30 20% 70%;  /* varm beige */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes logoIn {
  from { opacity: 0; transform: scale(.96); filter: blur(1px); }
  to   { opacity: 1; transform: scale(1);   filter: blur(0);   }
}
@keyframes logoOut {
  from { opacity: 1; transform: scale(1);   filter: blur(0);   }
  to   { opacity: 0; transform: scale(.96); filter: blur(1px); }
}